################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Droid/obj/Debug
/Shared/obj/Debug
/packages
/Droid/bin/Debug
/Droid/obj
/Shared/bin/Debug
/.vs/Xamarinbase/v14
