################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Droid/obj/Debug
/Shared/obj/Debug
/packages
/Droid/bin/Debug
/Droid/obj
/Shared/bin/Debug
/.vs/Xamarinbase/v14
/UpgradeLog.htm
/UpgradeLog2.htm
/UpgradeLog3.htm
/.vs/Xamarinbase/v15
*.bak
